@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<br />
<br />
<br />

<div>
    <h2>
        @if (Model == null)
        {
            <div class="alert alert-danger" role="alert">Error Inesperado. Vuelva a Intentar mas Tarde.</div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                <div>
                    <strong>Error en vista @Model.ControllerName/@Model.ActionName</strong>
                </div>
                <div>
                    <br />Detalle:@Model.Exception.Message
                </div>
            </div>
        }
    </h2>
</div>

