@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<br />
<br />
<br />

<div>
    <h2>
        <span class="alert alert-danger" role="alert">Error Inesperado. Vuelva a Intentar mas Tarde.</span>
    </h2>
</div>

