@{
    ViewBag.Title = "Confirmar Email";
}

<div>
    <h2>
        <span class="alert alert-danger" role="alert">@ViewBag.Title</span>
    </h2>
</div>

<div>
    <p>
        Gracias por Confirmar su Correo. Por Favor ,@Html.ActionLink("Haga Click aqui para Iniciar Sesion", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
