@{
    ViewBag.Title = "Por favor, Verifique su Email para Completar la Operacion";
}

<div>
    <h2>
        <span class="alert alert-danger" role="alert">@ViewBag.Title</span>
    </h2>
</div>
<hr />
	
