@{
    ViewBag.Title = "Contraseña Cambiada Correctamente";
}

<div>
    <h2>
    <span class="alert alert-danger" role="alert">@ViewBag.Title.</span>
    </h2>
</div>
<hr />
<div>
    <p>
        Su Contraseña se Cambió Correctamente. Por favor, @Html.ActionLink("Haga Click aqui para Iniciar Sesion", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
