@model IEnumerable<WikiCEP_Project.Models.v_RolesUsuarios>

@{
    ViewBag.Title = "Administracion de usuarios";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 8);
    WikiCEP_Project.Models.v_RolesUsuarios definiciones = new WikiCEP_Project.Models.v_RolesUsuarios();

}

<h2>
    @ViewBag.Title
</h2>
<hr />


    @grid.GetHtml(
    fillEmptyRows: false,
    tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    mode: WebGridPagerModes.All,
    firstText: "<< Primera",
    previousText: "< Anterior",
    nextText: "Siguiente >",
    lastText: "Última >>",

columns: new[]
{
    grid.Column("Usuario",header:"Usuario"),
   
    grid.Column("Rol",header:"Rol"),

    grid.Column("",
          header: "Acciones",
          format:
        @<text>
            @Html.ActionLink("Editar",   "Edit",   new { id=item.IDUsuario } )
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IDUsuario } )
        </text>
    )

 })
