@model IEnumerable<WikiCEP_Project.Models.Imagene>

@{
    ViewBag.Title = "Imagenes";
}

<h2 class="label label-primary">@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Crear Nueva Foto", "Create")
</p>


@Html.Action("_CargarImagenes", "Imagenes")