@model IEnumerable<WikiCEP_Project.Models.Imagene>

@{
    ViewBag.Title = "Imagenes";
}

<div>
    <h2>
        <span class="label label-primary">@ViewBag.Title</span>
    </h2>
</div>
<hr />

<p>
    @Html.ActionLink("Crear Nueva Foto", "Create")
</p>

@Html.Action("_CargarImagenes", "Imagenes")
