.logo {
    margin: 0px;
    font-family: Helvetica, sans-serif;
    display: inline-block;
}

.wiki {
    color: #354D53;
}

.c {
    color: #AED520;
}

.e {
    color: #11C1B8;
}

.p {
    color: #FF6C0B;
}

a{
    color: black;
}

.navbar-collapse{
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #AED520;
}

.navbar-inverse .navbar-nav > li > a:focus {
    color: #FF6C0B;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #11C1B8;
}

body {
    padding-top: 0px;
    padding-bottom: 20px;
}

#DIV_1 {
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 30px;
    text-size-adjust: 100%;
    vertical-align: middle;
    white-space: nowrap;
    width: 299px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 149.5px 15px;
    transform-origin: 149.5px 15px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 0px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_1*/

#INPUT_2 {
    background-position: 7px 50%;
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 2px 0px inset, rgba(255, 255, 255, 0.14902) 0px 1px 0px 0px;
    box-sizing: content-box;
    color: rgb(68, 68, 68);
    height: 20px;
    left: 0px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 206px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 127.5px 15px;
    transform-origin: 127.5px 15px;
    background: url("http://www.brewerydb.com/img/search.png") no-repeat scroll 7px 50% / auto padding-box border-box;
    border: 1px solid rgb(17, 17, 17);
    border-radius: 14px 0 0 14px;
    font: normal normal normal normal 13px / 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
    padding: 4px 14px 4px 33px;
    transition: none 0s ease 0s;
}/*#INPUT_2*/

#BUTTON_3 {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 30px;
    text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    text-size-adjust: 100%;
    vertical-align: top;
    white-space: nowrap;
    width: 45px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 22.5px 15px;
    transform-origin: 22.5px 15px;
    background: rgb(54, 54, 54) linear-gradient(rgb(68, 68, 68), rgb(34, 34, 34)) repeat-x scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.0980392);
    border-right: 1px solid rgba(0, 0, 0, 0.0980392);
    border-bottom: 1px solid rgba(0, 0, 0, 0.247059);
    border-left: 1px solid rgba(0, 0, 0, 0.0980392);
    border-radius: 0 14px 14px 0;
    font: normal normal normal normal 14px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 4px 12px;
}/*#BUTTON_3*/