@{
    ViewBag.Title = "Nosotros";
}
<div>
    <br />
    <br />
    <h2>
        <span>Acerca de Wiki</span><span class="logo c">C</span><span class="logo e">E</span><span class="logo p">P</span>
    </h2>
</div>

<hr />
<div class="well">
    <p>
        WikiCEP, es una aplicación en la cual su contenido puede ser editado directamente
        desde el navegador, donde los usuarios pueden crear, modificar o eliminar contenidos.
        También, permite ver qué usuario hizo cada cambio, lo cual facilita el mantenimiento
        conjunto y el control de los usuarios que agregan determinados cambios. Habitualmente,
        sin necesidad de una revisión previa, se actualiza el contenido que muestra la página
        editada. Esta aplicación fue creada por los desarrolladores del Centro de Entrenamiento
        Profesional (C.E.P) número: 14, de Sofrecom Argentina S.A
    </p>
</div>
<hr />
<div>
    <h2>
        <span>Desarrolladores</span>
    </h2>
</div>
<hr />
<p>Arevalo, Micaela.</p>
<p>Candelieri, Santiago.</p>
<p>Erlich, Axel.</p>
<p>Gonzalez, Diego.</p>
<p>Ramundo, Federico.</p>
<p>Zelaya, Christian.</p>

