@{
    ViewBag.Title = "Nosotros";
}
<div>
    <h2>
        <span class="label label-primary">@ViewBag.Message</span>
    </h2>
</div>
<br />
<div class="well">
    <p>
        WikiCEP, es una página que puede ser editada directamente desde el navegador,
        donde los usuarios pueden crear, modificar o eliminar contenidos que, generalmente,
        comparten.También permite ver qué usuario hizo cada cambio, lo cual facilita el mantenimiento
        conjunto y el control de usuarios nocivos. Habitualmente, sin necesidad de una revisión previa,
        se actualiza el contenido que muestra la página editada. Esta página fue creada por los desarrolladores
        del Centro de Entrenamiento Profesional (C.E.P) número 14 de Sofrecom Argentina S.A
    </p>
</div>
<br />
<div>
    <h2>
        <span class="label label-primary">Desarrolladores</span>
    </h2>
</div>
<br />
<p>Arevalo, Micaela.</p>
<p>Candelieri, Santiago.</p>
<p>Erlich, Axel.</p>
<p>Gonzalez, Diego.</p>
<p>Ramundo, Federico.</p>
<p>Zelaya, Christian.</p>

