@{
    ViewBag.Title = "Nosotros";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Desarrolladores:</p>
<br />
<p>Arevalo, Micaela.</p>
<p>Candelieri, Santiago.</p>
<p>Erlich, Axel.</p>
<p>Gonzalez, Diego.</p>
<p>Ramundo, Federico.</p>
<p>Zelaya, Chrintian.</p>

