@{
    ViewBag.Title = "Nosotros";
}
<div>
    <br />
    <br />
    <h2>
        <span>Acerca de Wiki</span><span class="logo c">C</span><span class="logo e">E</span><span class="logo p">P</span>
    </h2>
</div>

<hr />
<div class="well">
    <p>
        <strong>WikiCEP</strong>, es una aplicación en la cual su contenido puede ser editado directamente
        desde el navegador. Esta aplicación, contiene tres tipos de usuarios: <strong>Anónimo</strong>,
        <strong>Registado</strong> y <strong>Administrador</strong>.Los Usuarios registrados pueden ver, crear y
        modificar contenidos, a diferencia de los usuarios anónimos, que solamente tienen permiso para ver los
        contenidos. El acceso a Eliminar contenidos, unicamente está permitido para los usuarios asignados como
        administradores. También, permite a los usuarios hacer diferentes cambios, lo cual facilita el mantenimiento
        conjunto. Habitualmente, sin necesidad de una revisión previa, se actualiza el contenido que muestra la
        página editada. Esta aplicación fue creada por los desarrolladores del <strong> Centro de Entrenamiento
        Profesional </strong> (C.E.P) número: <strong>14</strong>, de Sofrecom Argentina S.A
    </p>
</div>
<hr />
<div>
    <h2>
        <span>Desarrolladores</span>
    </h2>


    <marquee direction="up">
        <font face="arial" size=4 />
        <p>Arevalo, Micaela.</p>
        <p>Candelieri, Santiago.</p>
        <p>Erlich, Axel.</p>
        <p>Gonzalez, Diego.</p>
        <p>Ramundo, Federico.</p>
        <p>Zelaya, Christian.</p>
        <hr />
        <p>Capacitación a Cargo de: Romanazzi, Pedro.</p>
        <hr />
    </marquee>
</div>

