@{
    ViewBag.Title = "Contacto";
}

<h2>@ViewBag.Title</h2>

<address>
    CEP 14<br />
    Sofrecom Argentina S.A.<br />
    <abbr title="Phone">Teléfono: </abbr>
    425.555.0100
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@cepsofrecom.com">Support@cepsofrecom.com</a><br />
</address>