@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron" style="background-image: url('/Imagenes/Sofrecom.png');background-color:;padding-bottom:40px; background-repeat: no-repeat; background-attachment:fixed; text-align:right;">
    <h1>Bienvenidos a WikiCEP</h1>
    <p class="lead"> Brindamos informacion de las tecnologias .NET y SQL server</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg"> Leer Mas &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET</h2>
        <p>
            Usado por programadores y diseñadores
            para construir sitios web dinámicos,
            aplicaciones web y servicios web XML.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Ver Mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Sql Server</h2>
        <p>
            Utilizado para manipular y recuperar
            datos, crear tablas y definir relaciones
            entre ellas.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ver Mas &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>ASP.NET MVC</h2>
        <p>
            Framework de aplicaciones web que implementa
            el patrón modelo-vista-controlador (MVC).
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ver Mas &raquo;</a></p>
    </div>
</div>