@model IEnumerable<WikiCEP_Project.Models.vDefinicionesReciente>

@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron" style="background-image: url('/Imagenes/Sofrecom.png');background-color:#F2F2F2;padding-bottom:40px; background-repeat: no-repeat; background-attachment:fixed; text-align:right;">
    <h1>Bienvenidos a WikiCEP</h1>
    <p class="lead"> Brindamos informacion de las tecnologias .NET y SQL server</p>
</div>
<hr />
<div class="row">
    @foreach (var definicion in Model)
    {
        <div class="col-md-4">
            <h2>
                <span class="label label-primary">@Html.DisplayFor(modelItem => definicion.Titulo)</span>                
            </h2>
            <p>
                @{  string texto = definicion.Texto.ToString();
                    texto = definicion.Texto.ToString();
                }
                @if (definicion.Texto.Length < 100)
                {
                     
                    <p>@texto</p>
                }
                else
                {
                    <p>@texto.Substring(0, 100)...</p>
                }
            </p>
            <p class="btn btn-default">@Html.ActionLink("Detalles", "../Definiciones/Details", new { id = definicion.IDDefinicion })</p>
        </div>

    }
</div>
